News UAT/force-app/main/default/flows/Case_Booking_System_Account_and_Portfolio_Picker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Used to pick the Booking System Account related to this Case</description>
    <dynamicChoiceSets>
        <name>BookingAccountPortfolioLookup</name>
        <dataType>String</dataType>
        <displayField>Portfolio__c</displayField>
        <filters>
            <field>Booking_System_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedBookingAccountId</elementReference>
            </value>
        </filters>
        <object>Booking_System_Portfolio_Junction__c</object>
        <outputAssignments>
            <assignToReference>SelectedBookingAccountPortfolioId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Portfolio__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Portfolio__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BookingSystemAccountLookup</name>
        <dataType>String</dataType>
        <displayField>Account_No__c</displayField>
        <filters>
            <field>Customer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>External_Account__c</object>
        <outputAssignments>
            <assignToReference>SelectBookingAccountNumber</assignToReference>
            <field>Account_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedBookingAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Account_No__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Account_No__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Case: Booking System Account and Portfolio Picker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Account Number Picker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the Case record</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>256</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_a_Booking_System_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>721</locationX>
        <locationY>458</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Booking_Account_Name__c</field>
            <value>
                <elementReference>SelectedBookingAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Account_Number__c</field>
            <value>
                <elementReference>SelectBookingAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Booking_System_Account_Selected</name>
        <label>Booking Account Number Selected</label>
        <locationX>721</locationX>
        <locationY>255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>BookingSystemAccountSelectedInformation</name>
            <fieldText>You have selected Booking Account Number &lt;b&gt;{!BookingSystemAccountLookup}&lt;/b&gt;. Please click the &lt;b&gt;(Previous)&lt;/b&gt; button if this selection is not correct and you wish to change it, otherwise click the &lt;b&gt;(Next)&lt;/b&gt; button to update the Case with the selected Booking Account Number.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Booking_System_Account</name>
        <label>Select a Booking Account Number</label>
        <locationX>460</locationX>
        <locationY>255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Booking_System_Account_Selected</targetReference>
        </connector>
        <fields>
            <name>Booking_System_Account</name>
            <choiceReferences>BookingSystemAccountLookup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Booking Account Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>256</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p&gt;Use this function to add a Booking Account Number to this case.&lt;/p&gt;
&lt;p&gt;To do this, click the  &lt;b&gt;(Next)&lt;/b&gt; button. Do not edit the Case whilst selecting the Booking Account Number. Otherwise, Case record save will fail.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Welcome_Screen</startElementReference>
    <status>Active</status>
    <variables>
        <description>Id of Account record related to the Case</description>
        <name>CaseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectBookingAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedBookingAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedBookingAccountPortfolioId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
