News UAT/force-app/main/default/flows/Contact_Update_Detais_and_get_an_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Dead_Number</name>
        <choiceText>Dead Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dead Number</stringValue>
        </value>
    </choices>
    <choices>
        <name>DM_Appt_lead</name>
        <choiceText>DM - Appt lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DM - Appt lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>DM_Not_Interested</name>
        <choiceText>DM - Not Interested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DM - Not Interested</stringValue>
        </value>
    </choices>
    <choices>
        <name>DM_Opt_In</name>
        <choiceText>DM - Opt In</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DM - Opt In</stringValue>
        </value>
    </choices>
    <choices>
        <name>DM_Opt_In_Appt_lead</name>
        <choiceText>DM - Opt In &amp; Appt lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DM - Opt In &amp; Appt lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>DM_WIP_call_back</name>
        <choiceText>DM - WIP - call back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DM - WIP - call back</stringValue>
        </value>
    </choices>
    <choices>
        <name>Left_Voicemail</name>
        <choiceText>Left Voicemail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Left Voicemail</stringValue>
        </value>
    </choices>
    <choices>
        <name>NEGATIVE_EXPERIENCE</name>
        <choiceText>NEGATIVE EXPERIENCE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEGATIVE EXPERIENCE</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Answer</name>
        <choiceText>No Answer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Answer</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Value</name>
        <choiceText>No Value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </choices>
    <choices>
        <name>Opt_In</name>
        <choiceText>Opt In</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opt In</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opt_Out</name>
        <choiceText>Opt Out</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opt Out</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Receptionist_only</name>
        <choiceText>Receptionist only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Receptionist only</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Need_an_Appointment</name>
        <label>Need an Appointment</label>
        <locationX>1422</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Call_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Appointment_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_they_wish_to_book_an_appointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Appointment_Information</targetReference>
            </connector>
            <label>Appointment required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Email_Channel_Marketing</name>
        <label>Update Email Channel Marketing</label>
        <locationX>575</locationX>
        <locationY>40</locationY>
        <defaultConnector>
            <targetReference>Update_Phone_Channel_Marketing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_ECM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opt_in_to_Email_Marketing</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>No_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_for_Email_Channel_Marketing</targetReference>
            </connector>
            <label>Update ECM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Phone_Channel_Marketing</name>
        <label>Update Phone Channel Marketing</label>
        <locationX>821</locationX>
        <locationY>37</locationY>
        <defaultConnector>
            <targetReference>Update_SMS_Channel_Marketing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_PCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opt_in_to_Phone_Marketing</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>No_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_for_Phone_Channel_Marketing</targetReference>
            </connector>
            <label>Update PCM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SMS_Channel_Marketing</name>
        <label>Update SMS Channel Marketing</label>
        <locationX>1138</locationX>
        <locationY>45</locationY>
        <defaultConnector>
            <targetReference>Do_they_want_to_book_an_appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_SCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opt_in_to_SMS_Marketing</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>No_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_for_SMS_Channel_Marketing</targetReference>
            </connector>
            <label>Update SCM</label>
        </rules>
    </decisions>
    <formulas>
        <name>UpdatedContactChannelEmail</name>
        <dataType>String</dataType>
        <expression>IF({!Opt_in_to_Email_Marketing}&lt;&gt;{!ContactChannelEmail},{!Opt_in_to_Email_Marketing},{!ContactChannelEmail})</expression>
    </formulas>
    <formulas>
        <name>UpdatedContactChannelPhone</name>
        <dataType>String</dataType>
        <expression>IF({!Opt_in_to_Phone_Marketing}&lt;&gt;{!ContactChannelPhone},{!Opt_in_to_Phone_Marketing},{!ContactChannelPhone})</expression>
    </formulas>
    <formulas>
        <name>UpdatedContactChannelSMS</name>
        <dataType>String</dataType>
        <expression>IF({!Opt_in_to_SMS_Marketing}&lt;&gt;{!ContactChannelSMS},{!Opt_in_to_SMS_Marketing},{!ContactChannelSMS})</expression>
    </formulas>
    <interviewLabel>Contact: Update Details and get an Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Update Details and get an Appointment</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Appointment</name>
        <label>Create Appointment</label>
        <locationX>1420</locationX>
        <locationY>595</locationY>
        <connector>
            <targetReference>Call_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Appointment_Notes2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0059000000UXyB2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000001BVPeAAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Logged_Call</name>
        <label>Create Logged Call</label>
        <locationX>1136</locationX>
        <locationY>591</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Notes2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000001BVPeAAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call - Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call - Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cirrusadv__Outcome__c</field>
            <value>
                <elementReference>Call_Outcome</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Current_Contact</name>
        <label>Lookup Current Contact</label>
        <locationX>24</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gather_Contact_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactChannelEmail</assignToReference>
            <field>Channel_Opt_In_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactChannelPhone</assignToReference>
            <field>Channel_Opt_In_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactChannelSMS</assignToReference>
            <field>Channel_Opt_In_SMS__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactMobile</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_for_Email_Channel_Marketing</name>
        <label>Update Contact for Email Channel Marketing</label>
        <locationX>576</locationX>
        <locationY>171</locationY>
        <connector>
            <targetReference>Update_Phone_Channel_Marketing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Opt_In_Email__c</field>
            <value>
                <elementReference>Opt_in_to_Email_Marketing</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_for_Phone_Channel_Marketing</name>
        <label>Update Contact for Phone Channel Marketing</label>
        <locationX>820</locationX>
        <locationY>168</locationY>
        <connector>
            <targetReference>Update_SMS_Channel_Marketing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Opt_In_Phone__c</field>
            <value>
                <elementReference>Opt_in_to_Phone_Marketing</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_for_SMS_Channel_Marketing</name>
        <label>Update Contact for SMS Channel Marketing</label>
        <locationX>1136</locationX>
        <locationY>168</locationY>
        <connector>
            <targetReference>Do_they_want_to_book_an_appointment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Opt_In_SMS__c</field>
            <value>
                <elementReference>Opt_in_to_SMS_Marketing</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Contact_Details</name>
        <label>Update Current Contact Details</label>
        <locationX>391</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Update_Email_Channel_Marketing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Call_Details</name>
        <label>Call Details</label>
        <locationX>1137</locationX>
        <locationY>449</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Logged_Call</targetReference>
        </connector>
        <fields>
            <name>Call_Notes2</name>
            <fieldText>Call Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Outcome</name>
            <choiceReferences>Dead_Number</choiceReferences>
            <choiceReferences>Left_Voicemail</choiceReferences>
            <choiceReferences>No_Answer</choiceReferences>
            <choiceReferences>Receptionist_only</choiceReferences>
            <choiceReferences>DM_Not_Interested</choiceReferences>
            <choiceReferences>DM_WIP_call_back</choiceReferences>
            <choiceReferences>DM_Opt_In</choiceReferences>
            <choiceReferences>DM_Appt_lead</choiceReferences>
            <choiceReferences>DM_Opt_In_Appt_lead</choiceReferences>
            <choiceReferences>NEGATIVE_EXPERIENCE</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collect_Appointment_Information</name>
        <label>Collect Appointment Information</label>
        <locationX>1421</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Appointment</targetReference>
        </connector>
        <fields>
            <name>Appointment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Appointment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Appointment_Notes2</name>
            <fieldText>Appointment Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_they_want_to_book_an_appointment</name>
        <label>Do they want to book an appointment</label>
        <locationX>1419</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Need_an_Appointment</targetReference>
        </connector>
        <fields>
            <name>Do_they_wish_to_book_an_appointment</name>
            <dataType>Boolean</dataType>
            <fieldText>Do they wish to book an appointment?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gather_Contact_Information</name>
        <label>Gather Contact Information</label>
        <locationX>215</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Current_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>ContactUpdateInformation</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You are about to collect information about this Contact and update their record.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you do not wish to proceed, simply click on the word &lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;B&gt;&lt;I&gt;&lt;U&gt;Activity&lt;/U&gt;&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt; at the top of the screen to cancel.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactFirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactLastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactPhone</elementReference>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactMobile</elementReference>
            </defaultValue>
            <fieldText>Mobile Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactEmail</elementReference>
            </defaultValue>
            <fieldText>Email address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CurrentOptintoEmailMarketing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Current Opt in to Email Marketing &lt;B&gt;{!ContactChannelEmail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opt_in_to_Email_Marketing</name>
            <choiceReferences>Opt_In</choiceReferences>
            <choiceReferences>Opt_Out</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Value</defaultSelectedChoiceReference>
            <fieldText>Opt in to Email Marketing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CurrentOptintoPhoneMarketing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Current Opt in to Phone Marketing &lt;B&gt;{!ContactChannelPhone}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opt_in_to_Phone_Marketing</name>
            <choiceReferences>Opt_In</choiceReferences>
            <choiceReferences>Opt_Out</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Value</defaultSelectedChoiceReference>
            <fieldText>Opt in to Phone Marketing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CurrentOptintoSMSMarketing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Current Opt in to SMS Marketing &lt;B&gt;{!ContactChannelPhone}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opt_in_to_SMS_Marketing</name>
            <choiceReferences>Opt_In</choiceReferences>
            <choiceReferences>Opt_Out</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Value</defaultSelectedChoiceReference>
            <fieldText>Opt in to SMS Marketing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ContactUpdateMessage</name>
            <fieldText>When you click the Next button, the Lead will be updated with the information on this screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Current_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactChannelEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactChannelPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactChannelSMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
