News UAT/force-app/main/default/flows/DiscountThresholdForPlatform.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetTDtoCD</name>
        <label>SetTDtoCD</label>
        <locationX>86</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>currentSalesOrder.Target_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentSalesOrder.Client_Current_Discount_FY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentSalesOrder.Proposed_Print_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCurrentSalesOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTDToMDT</name>
        <label>SetTDToMDT</label>
        <locationX>556</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>currentSalesOrder.Target_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountLevel1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCurrentSalesOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTDtoMDTCalculated</name>
        <label>SetTDtoMDTCalculated</label>
        <locationX>308</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>currentSalesOrder.Target_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDT_Calculated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCurrentSalesOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateSODiscounLevel</name>
        <label>UpdateSODiscounLevel</label>
        <locationX>309</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>currentSalesOrder.Calculated_Target_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountLevel1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShouldWeUseCDforMDT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DiscountThresholdRetreived</name>
        <label>DiscountThresholdRetreived</label>
        <locationX>311</locationX>
        <locationY>265</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DiscountLevel_Found_For_Print</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DiscountLevel1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Print</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSODiscounLevel</targetReference>
            </connector>
            <label>DiscountLevel_Found_For_Print</label>
        </rules>
        <rules>
            <name>DiscountLevel_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DiscountLevel1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>DiscountLevel_Not_Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShouldWeUseCDforMDT</name>
        <label>ShouldWeUseCDforMDT</label>
        <locationX>310</locationX>
        <locationY>538</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CD_is_null_or_0</name>
            <conditionLogic>1 OR (3 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>currentSalesOrder.Client_Current_Discount_FY__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSalesOrder.Client_Current_Discount_FY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSalesOrder.Client_Current_Discount_FY__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTDToMDT</targetReference>
            </connector>
            <label>CD_is_null_or_0</label>
        </rules>
        <rules>
            <name>CD_is_not_null_or_CD_is_less_than_MDT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSalesOrder.Client_Current_Discount_FY__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSalesOrder.Client_Current_Discount_FY__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DiscountLevel1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSalesOrder.Client_Current_Discount_FY__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTDtoCD</targetReference>
            </connector>
            <label>CD_is_not_null_or_CD_is_less_than_MDT</label>
        </rules>
        <rules>
            <name>CD_is_over_MDT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSalesOrder.Client_Current_Discount_FY__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSalesOrder.Client_Current_Discount_FY__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DiscountLevel1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSalesOrder.Client_Current_Discount_FY__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTDtoMDTCalculated</targetReference>
            </connector>
            <label>CD_is_over_MDT</label>
        </rules>
    </decisions>
    <description>Flow used to get inital max discount threshold</description>
    <formulas>
        <name>MDT_Calculated</name>
        <dataType>Number</dataType>
        <expression>{!currentSalesOrder.Client_Current_Discount_FY__c} - MIN({!PP_Factor},{!PP_Difference})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PP_Difference</name>
        <dataType>Number</dataType>
        <expression>{!currentSalesOrder.Client_Current_Discount_FY__c}-{!DiscountLevel1}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PP_Factor</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.Discount_Framework_X_Factor})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>DiscountThresholdForPlatform {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DiscountThresholdForPlatform</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindAppropriateDiscountThreshold</name>
        <label>FindAppropriateDiscountThreshold</label>
        <locationX>311</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DiscountThresholdRetreived</targetReference>
        </connector>
        <filters>
            <field>Customer_Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentSalesOrder.Print_Customer_Tier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Platform__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>platform</elementReference>
            </value>
        </filters>
        <filters>
            <field>Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentSalesOrder.Customer_Segment__c</elementReference>
            </value>
        </filters>
        <object>Discount_Threshold__c</object>
        <outputAssignments>
            <assignToReference>currentSalesOrder.Print_Display_DT_Amount_L1__c</assignToReference>
            <field>Amount_Level_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentSalesOrder.Print_Display_DT_Amount_L2__c</assignToReference>
            <field>Amount_Level_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentSalesOrder.Print_Display_DT_Amount_L3__c</assignToReference>
            <field>Amount_Level_3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentSalesOrder.Print_Display_DT_Amount_L4__c</assignToReference>
            <field>Amount_Level_4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DiscountLevel1</assignToReference>
            <field>Discount_Level_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentSalesOrder.Print_Display_DT_Percent_L1__c</assignToReference>
            <field>Discount_Level_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentSalesOrder.Print_Display_DT_Percent_L2__c</assignToReference>
            <field>Discount_Level_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentSalesOrder.Print_Display_DT_Percent_L3__c</assignToReference>
            <field>Discount_Level_3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentSalesOrder.Print_Display_DT_Percent_L4__c</assignToReference>
            <field>Discount_Level_4__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateCurrentSalesOrder</name>
        <label>updateCurrentSalesOrder</label>
        <locationX>310</locationX>
        <locationY>930</locationY>
        <inputReference>currentSalesOrder</inputReference>
    </recordUpdates>
    <startElementReference>FindAppropriateDiscountThreshold</startElementReference>
    <status>Active</status>
    <variables>
        <name>currentSalesOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>csmso__Sales_Order__c</objectType>
    </variables>
    <variables>
        <description>Used as a starting point for Max Discount Threshold</description>
        <name>DiscountLevel1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Input for determining which platform threshold to pick</description>
        <name>platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Print</stringValue>
        </value>
    </variables>
</Flow>
