News UAT/force-app/main/default/flows/Lead_Update_Details_and_get_an_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Appointment_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Appointment_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ChannelEmailCurrentValue</name>
        <choiceText>ChannelEmailCurrentValue</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LeadChannelEmail</elementReference>
        </value>
    </choices>
    <choices>
        <name>Dead_number</name>
        <choiceText>Dead number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dead number</stringValue>
        </value>
    </choices>
    <choices>
        <name>DM_Appt_lead</name>
        <choiceText>DM - Appt lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DM - Appt lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>DM_Not_Interested</name>
        <choiceText>DM - Not Interested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DM - Not Interested</stringValue>
        </value>
    </choices>
    <choices>
        <name>DM_Opt_In</name>
        <choiceText>DM - Opt In</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DM - Opt In</stringValue>
        </value>
    </choices>
    <choices>
        <name>DM_Opt_In_Appt_lead</name>
        <choiceText>DM - Opt In &amp; Appt lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DM - Opt In &amp; Appt lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>DM_WIP_call_back</name>
        <choiceText>DM - WIP - call back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DM - WIP - call back</stringValue>
        </value>
    </choices>
    <choices>
        <name>Left_voicemail</name>
        <choiceText>Left voicemail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Left voicemail</stringValue>
        </value>
    </choices>
    <choices>
        <name>NEGATIVE_EXPERIENCE</name>
        <choiceText>NEGATIVE EXPERIENCE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEGATIVE EXPERIENCE</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_answer</name>
        <choiceText>No answer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No answer</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Value</name>
        <choiceText>No Value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </choices>
    <choices>
        <name>Opt_In</name>
        <choiceText>Opt In</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opt In</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opt_Out</name>
        <choiceText>Opt Out</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opt Out</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Receptionist_only</name>
        <choiceText>Receptionist only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Receptionist only</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Need_an_Appointment</name>
        <label>Need an Appointment</label>
        <locationX>1267</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Call_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Appointment_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_they_wish_to_book_an_appointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Appointment_Information</targetReference>
            </connector>
            <label>Appointment required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Email_Channel_Marketing</name>
        <label>Update Email Channel Marketing</label>
        <locationX>528</locationX>
        <locationY>25</locationY>
        <defaultConnector>
            <targetReference>Update_Phone_Channel_Marketing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_ECM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opt_in_to_Email_Marketing</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>No_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_for_Email_Channel_Marketing</targetReference>
            </connector>
            <label>Update ECM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Phone_Channel_Marketing</name>
        <label>Update Phone Channel Marketing</label>
        <locationX>786</locationX>
        <locationY>22</locationY>
        <defaultConnector>
            <targetReference>Update_SMS_Channel_Marketing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_PCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opt_in_to_Phone_Marketing</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>No_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_for_Phone_Channel_Marketing</targetReference>
            </connector>
            <label>Update PCM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SMS_Channel_Marketing</name>
        <label>Update SMS Channel Marketing</label>
        <locationX>1021</locationX>
        <locationY>21</locationY>
        <defaultConnector>
            <targetReference>Do_they_want_to_book_an_appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_SCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opt_in_to_SMS_Marketing</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>No_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_for_SMS_Channel_Marketing</targetReference>
            </connector>
            <label>Update SCM</label>
        </rules>
    </decisions>
    <formulas>
        <name>UpdatedLeadChannelEmail</name>
        <dataType>String</dataType>
        <expression>IF({!Opt_in_to_Email_Marketing}&lt;&gt;{!LeadChannelEmail},{!Opt_in_to_Email_Marketing},{!LeadChannelEmail})</expression>
    </formulas>
    <formulas>
        <name>UpdatedLeadChannelPhone</name>
        <dataType>String</dataType>
        <expression>IF({!Opt_in_to_Phone_Marketing}&lt;&gt;{!LeadChannelPhone},{!Opt_in_to_Phone_Marketing},{!LeadChannelPhone})</expression>
    </formulas>
    <formulas>
        <name>UpdatedLeadChannelSMS</name>
        <dataType>String</dataType>
        <expression>IF({!Opt_in_to_SMS_Marketing}&lt;&gt;{!LeadChannelSMS},{!Opt_in_to_SMS_Marketing},{!LeadChannelSMS})</expression>
    </formulas>
    <interviewLabel>Lead: Update Details  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Update Details and get an Appointment</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Appointment_Task</name>
        <label>Create Appointment Task</label>
        <locationX>1265</locationX>
        <locationY>555</locationY>
        <connector>
            <targetReference>Call_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Appointment_Notes2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0059000000UXyB2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000001BVPeAAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Appointment Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Logged_Call</name>
        <label>Create Logged Call</label>
        <locationX>1033</locationX>
        <locationY>556</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Notes2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01290000001BVPeAAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call - Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call - Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cirrusadv__Outcome__c</field>
            <value>
                <elementReference>Call_Outcome</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Current_Lead</name>
        <label>Lookup Current Lead</label>
        <locationX>20</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gather_Lead_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LeadChannelEmail</assignToReference>
            <field>Channel_Opt_In_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadChannelPhone</assignToReference>
            <field>Channel_Opt_In_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadChannelSMS</assignToReference>
            <field>Channel_Opt_In_SMS__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadMobile</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Lead_Contact_Information</name>
        <label>Update Current Lead Contact Information</label>
        <locationX>350</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>Update_Email_Channel_Marketing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_for_Email_Channel_Marketing</name>
        <label>Update Lead for Email Channel Marketing</label>
        <locationX>526</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Update_Phone_Channel_Marketing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Opt_In_Email__c</field>
            <value>
                <elementReference>Opt_in_to_Email_Marketing</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_for_Phone_Channel_Marketing</name>
        <label>Update Lead for Phone Channel Marketing</label>
        <locationX>782</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>Update_SMS_Channel_Marketing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Opt_In_Phone__c</field>
            <value>
                <elementReference>Opt_in_to_Phone_Marketing</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_for_SMS_Channel_Marketing</name>
        <label>Update Lead for SMS Channel Marketing</label>
        <locationX>1019</locationX>
        <locationY>132</locationY>
        <connector>
            <targetReference>Do_they_want_to_book_an_appointment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Opt_In_SMS__c</field>
            <value>
                <elementReference>Opt_in_to_SMS_Marketing</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Call_Details</name>
        <label>Call Details</label>
        <locationX>1036</locationX>
        <locationY>399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Logged_Call</targetReference>
        </connector>
        <fields>
            <name>Call_Notes2</name>
            <fieldText>Call Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Outcome</name>
            <choiceReferences>Dead_number</choiceReferences>
            <choiceReferences>Left_voicemail</choiceReferences>
            <choiceReferences>No_answer</choiceReferences>
            <choiceReferences>Receptionist_only</choiceReferences>
            <choiceReferences>DM_Not_Interested</choiceReferences>
            <choiceReferences>DM_WIP_call_back</choiceReferences>
            <choiceReferences>DM_Opt_In</choiceReferences>
            <choiceReferences>DM_Appt_lead</choiceReferences>
            <choiceReferences>DM_Opt_In_Appt_lead</choiceReferences>
            <choiceReferences>NEGATIVE_EXPERIENCE</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collect_Appointment_Information</name>
        <label>Collect Appointment Information</label>
        <locationX>1269</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Appointment_Task</targetReference>
        </connector>
        <fields>
            <name>Appointment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Appointment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Appointment_Notes2</name>
            <fieldText>Appointment Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Decision if Lead wishes to book an appointment</description>
        <name>Do_they_want_to_book_an_appointment</name>
        <label>Do they want to book an appointment</label>
        <locationX>1266</locationX>
        <locationY>24</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Need_an_Appointment</targetReference>
        </connector>
        <fields>
            <name>Do_they_wish_to_book_an_appointment</name>
            <dataType>Boolean</dataType>
            <fieldText>Do they wish to book an appointment?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Gather information from the Lead to update if required</description>
        <name>Gather_Lead_Information</name>
        <label>Gather Lead Information</label>
        <locationX>182</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Current_Lead_Contact_Information</targetReference>
        </connector>
        <fields>
            <name>LeadUpdateInformation</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You are about to collect information about this Lead and update their record.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you do not wish to proceed, simply click on the word &lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;B&gt;&lt;I&gt;&lt;U&gt;Activity&lt;/U&gt;&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt; at the top of the screen to cancel.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadFirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadLastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadPhone</elementReference>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadMobile</elementReference>
            </defaultValue>
            <fieldText>Mobile Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadEmail</elementReference>
            </defaultValue>
            <fieldText>Email address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CurrentOptintoEmailMarketing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Current Opt in to Emal Marketing &lt;B&gt;{!LeadChannelEmail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opt_in_to_Email_Marketing</name>
            <choiceReferences>Opt_In</choiceReferences>
            <choiceReferences>Opt_Out</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Value</defaultSelectedChoiceReference>
            <fieldText>Opt in to Email Marketing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CurrentOptintoPhoneMarketing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Current Opt in to Phone Marketing &lt;B&gt;{!LeadChannelPhone}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opt_in_to_Phone_Marketing</name>
            <choiceReferences>Opt_In</choiceReferences>
            <choiceReferences>Opt_Out</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Value</defaultSelectedChoiceReference>
            <fieldText>Opt in to Phone Marketing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CurrentOptintoSMSMarketing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Current Opt in to SMS Marketing &lt;B&gt;{!LeadChannelSMS}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opt_in_to_SMS_Marketing</name>
            <choiceReferences>Opt_In</choiceReferences>
            <choiceReferences>Opt_Out</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Value</defaultSelectedChoiceReference>
            <fieldText>Opt in to SMS Marketing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LeadUpdateMessage</name>
            <fieldText>When you click the Next button, the Lead will be updated with the information on this screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Current_Lead</startElementReference>
    <status>Active</status>
    <variables>
        <name>LeadChannelEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadChannelPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadChannelSMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
