News UAT/force-app/main/default/flows/Opportunity_Update_Loyatly_Start_and_End_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Opportunity_Loyalty_Start_Date_is_Null</name>
        <label>Opportunity Loyalty Start Date is Null</label>
        <locationX>802</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Loyalty_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppLoyaltyStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PC_Flight_End_Date_Opportunity_Loyalty_End_Date</targetReference>
            </connector>
            <label>Date is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>PC_Flight_End_Date_Opportunity_Loyalty_End_Date</name>
        <label>PC Flight End Date &gt; Opportunity Loyalty End Date</label>
        <locationX>929</locationX>
        <locationY>218</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Is_Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PCFlightEndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OppLoyaltyEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Loyalty_End_Date</targetReference>
            </connector>
            <label>Date Is Greater</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity: Update Loyatly Start and End Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Update Loyatly Start and End Dates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Opportunity record for updating based on Sales Order</description>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>589</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Loyalty_Start_Date_is_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OppLoyaltyEndDate</assignToReference>
            <field>Loyalty_Program_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppLoyaltyStartDate</assignToReference>
            <field>Loyalty_Program_Start_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Basket</name>
        <label>Get Product Basket</label>
        <locationX>227</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductBasketId</elementReference>
            </value>
        </filters>
        <object>cscfga__Product_Basket__c</object>
        <outputAssignments>
            <assignToReference>SalesOrderId</assignToReference>
            <field>csmso__Sales_Order__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order</name>
        <label>Get Sales Order</label>
        <locationX>409</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrderId</elementReference>
            </value>
        </filters>
        <object>csmso__Sales_Order__c</object>
        <outputAssignments>
            <assignToReference>OpportunityId</assignToReference>
            <field>csmso__Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Loyalty_End_Date</name>
        <label>Update Opportunity Loyalty End Date</label>
        <locationX>936</locationX>
        <locationY>374</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Program_End_Date__c</field>
            <value>
                <elementReference>PCFlightEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Loyalty_Start_Date</name>
        <label>Update Opportunity Loyalty Start Date</label>
        <locationX>1042</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>PC_Flight_End_Date_Opportunity_Loyalty_End_Date</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Program_Start_Date__c</field>
            <value>
                <elementReference>PCFlightStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Get_Product_Basket</startElementReference>
    <status>Active</status>
    <variables>
        <name>OppLoyaltyEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppLoyaltyStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PCFlightEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PCFlightStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductBasketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
