News UAT/force-app/main/default/flows/Reset_Buy_Sheet_Extracted_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Set Buysheet Fields</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Buy Sheet Fields</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>NXX2_Buy_Sheet</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>productOrderId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>productOrderId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>User Profile News Integration</label>
        </rules>
    </decisions>
    <description>Reset Buy Sheet Extracted Flag when Product order is updated by non News Integration profile</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>($Profile.Name != &#39;News Integration&#39;  )
&amp;&amp;
([Product_Order__c].Product_Node__c != null)
&amp;&amp;
[Product_Order__c].Buy_Sheet_Date_Start_Valid__c 
&amp;&amp;
(
   ISPICKVAL( [Product_Order__c].Status__c, &quot;Live&quot; )                           ||
   ISPICKVAL( [Product_Order__c].Status__c, &quot;Pending For Pause&quot; ) ||
   ISPICKVAL( [Product_Order__c].Status__c, &quot;Paused&quot; )                     ||
   ISPICKVAL( [Product_Order__c].Status__c, &quot;Ready to go live&quot; )      ||
   ISPICKVAL( [Product_Order__c].Status__c, &quot;Campaign Ended&quot; )   ||
   (
      [Product_Order__c].Proposed_Start_Date__c &lt;= Today() 
     &amp;&amp;
    IF ( ISBLANK([Product_Order__c].Cancellation_Date__c) , true,
           ( [Product_Order__c].Proposed_Start_Date__c  &lt;= 
           [Product_Order__c].Cancellation_Date__c ) 
    )
     &amp;&amp; 
      (
          ISPICKVAL( [Product_Order__c].Status__c, &quot;Cancelled&quot; ) ||
          ISPICKVAL( [Product_Order__c].Status__c, &quot;Pending for Cancel&quot; )
       )
    )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>({!$Profile.Name} != &#39;News Integration&#39;  )
&amp;&amp;
({!myVariable_current.Product_Node__c} != null)
&amp;&amp;
{!myVariable_current.Buy_Sheet_Date_Start_Valid__c} 
&amp;&amp;
(
   ISPICKVAL( {!myVariable_current.Status__c}, &quot;Live&quot; )                           ||
   ISPICKVAL( {!myVariable_current.Status__c}, &quot;Pending For Pause&quot; ) ||
   ISPICKVAL( {!myVariable_current.Status__c}, &quot;Paused&quot; )                     ||
   ISPICKVAL( {!myVariable_current.Status__c}, &quot;Ready to go live&quot; )      ||
   ISPICKVAL( {!myVariable_current.Status__c}, &quot;Campaign Ended&quot; )   ||
   (
      {!myVariable_current.Proposed_Start_Date__c} &lt;= Today() 
     &amp;&amp;
    IF ( ISBLANK({!myVariable_current.Cancellation_Date__c}) , true,
           ( {!myVariable_current.Proposed_Start_Date__c}  &lt;= 
           {!myVariable_current.Cancellation_Date__c} ) 
    )
     &amp;&amp; 
      (
          ISPICKVAL( {!myVariable_current.Status__c}, &quot;Cancelled&quot; ) ||
          ISPICKVAL( {!myVariable_current.Status__c}, &quot;Pending for Cancel&quot; )
       )
    )
)</expression>
    </formulas>
    <interviewLabel>Reset_Buy_Sheet_Extracted_Flag-8_InterviewLabel</interviewLabel>
    <label>Reset Buy Sheet Extracted Flag</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Product_Order__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
